* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--Black);
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: var(--Gray);
}

a:hover {
    color: var(--Black);
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Roboto-medium", Arial;
    font-weight: 500;
    color: var(--Gray);
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



  /* Header Styles */


#top {
	background-color: #404eed;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#top header {
	background-color: #404eed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 80px;
}
#top header h1 {
	width: 125px;
}
#top header h1 img {
	display: block;
	width: 100%;
}
#top header ul.items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#top header   ul.items li  {
	margin-right: 50px;
}
#top header   ul.items li:hover  {
	border-bottom: 1px solid #fff;
}
#top header   ul.items li:last-child  {
	margin-right: 0;
}
#top header  ul.items li a h3 {
	font-size: 14px;
    font-family: Roboto-regular;
    font-weight: bold;
	color: #fff;
}
#top header .log-button {
    display: flex;
    justify-content: start;
    align-items: center;

}
#top header .log-button a.button {
	padding: 10px 16px;
	background-color: #fff;
	border-radius: 20px;
}
#top header a.button  h4 {
	font-size: 14px;
    font-family: Roboto-regular;
	font-weight: bold;
	color: #000;
}
#top header a.button  h4:hover {
	font-size: 14px;
	font-weight: bold;
	color: #404eed;
} 

#top header .log-button a.bar {
    width: 25px;
    display: none;
}
#top header .log-button a.bar img {
    display: block;
    width: 100%;
} 



    /* Spotlight Style */



#top .left {
    display: block;
    width: 550px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
#top .left .left-img {
    display: block;
    width: 100%;
}

#top .right{
    display: block;
    width: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#top .right .right-img {
    display: block;
    width: 100%;
}

#top .wrapper .spotlight {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 180px;
}
#top .wrapper .spotlight .middle {
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
#top .wrapper .spotlight .middle .title {
    font-size: 48px;
    font-family: roboto-bold;
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
#top .wrapper .spotlight .middle .description {
    font-size: 18px;
    font-family: roboto-regular;
    color: #fff;
    width: 748px;
    text-align: center;
    margin-bottom: 30px;
}
#top .wrapper .spotlight .middle .option  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}
#top .wrapper .spotlight .middle .option .windows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 30px;
}
#top .wrapper .spotlight .middle .option .windows .download {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
#top .wrapper .spotlight .middle .option .OD-button {
    padding: 20px 40px;
    background-color: #000;
    border-radius: 30px;
}
#top .wrapper .spotlight .middle .option .OD-button h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#top .wrapper .spotlight .middle .option .windows .d-arrow {
    width: 15px;
    margin-right: 5px;
}
#top .wrapper .spotlight .middle .option .windows  img {
    display: block;
    width: 100%;

}




       /* Testimonial1 Styles */




#testimonial1 {
    height: 100%;
}
#testimonial1 .wrapper .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 130px 23px;
}
#testimonial1 .wrapper .leftbox {
    width: 580px;
}
#testimonial1 .wrapper .leftbox img {
    display: block;
    width: 100%;
}
#testimonial1 .wrapper .rightbox {
    width: 35%;
}
#testimonial1 .wrapper .rightbox h2 {
    font-size: 38px;
    font-family: roboto-bold;
    font-weight: 800;
    margin-bottom: 25px;
    width: 80%;
}
#testimonial1 .wrapper .rightbox p {
    font-size: 23px;
    font-family: roboto-regular;
    font-weight: 500;
}



    /* Testimonial2 Styles */



#testimonial2 {
    height: 100%;
    background-color: #f6f6f6;
}
#testimonial2 .wrapper .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 130px 23px;
}
#testimonial2 .wrapper .content .leftbox {
    width: 35%;
}
#testimonial2 .wrapper .content .leftbox h2 {
    font-size: 38px;
    font-family: roboto-bold;
    font-weight: 800;
    margin-bottom: 25px;
    width: 80%;
}

#testimonial2 .wrapper .content .leftbox p {
    font-size: 23px;
    font-family: roboto-regular;
    font-weight: 500;
    width: 100%;
}

#testimonial2 .wrapper .content .right {
    width: 600px;
}
#testimonial2 .wrapper .content .right img {
    display: block;
    width: 100%;
}

        /* Testimonial3 Styles */


#testimonial3 {
    height: 100%;
}
#testimonial3 .wrapper .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 130px 23px;
}
#testimonial3 .wrapper .leftbox {
    width: 580px;
}
#testimonial3 .wrapper .leftbox img {
    display: block;
    width: 100%;
}
#testimonial3 .wrapper .rightbox {
    width: 40%;
}
#testimonial3 .wrapper .rightbox h2 {
    font-size: 38px;
    font-family: roboto-bold;
    font-weight: 800;
    margin-bottom: 25px;
    width: 70%;
}
#testimonial3 .wrapper .rightbox p {
    font-size: 23px;
    font-family: roboto-regular;
    font-weight: 500;
}



        /* Footer Styles */


footer {
    width: 100%;
    height: 100%;
    background-color: #23272a;
}
footer  .wrapper .top {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer  .wrapper .top .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 73px;
}
footer  .wrapper .top .left .topc {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}
footer  .wrapper .top .left .topc .flag {
    width: 30px;
}
footer  .wrapper .top .left .topc .flag img {
    display: block;
    width: 100%;
}
footer  .wrapper .top .left .topc h5 {
    font-size: 16px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
footer  .wrapper .top .left .topc .darrow {
    width: 14px;
}
footer  .wrapper .top .left .topc .darrow img {
    display: block;
    width: 100%;
}
footer  .wrapper .top .left .media ul  {
    display: flex;
    justify-content: flex-start;
}
footer  .wrapper .top .left .media ul li {
    width: 25px;
    margin-right: 20px;
}
footer  .wrapper .top .left .media ul li img {
    display: block;
    width: 100%;
}
footer  .wrapper .top .right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 75px;
}
footer  .wrapper .top .right .product {
    margin-right: 50px;
}
footer  .wrapper .top .product h5.title {
    font-size: 16px;
    font-family: roboto-medium;
    font-weight: 500;
    color: #5865f2;
    margin-bottom: 30px;
}
footer  .wrapper .top .product ul li h5 {
    font-size: 14px;
    font-family: roboto-regular;
    color: #fff;
    margin-bottom: 15px;
}
footer  .wrapper .top .company {
    margin-right: 50px;
}
footer  .wrapper .top .company h5.title {
    font-size: 16px;
    font-family: roboto-medium;
    font-weight: 500;
    color: #5865f2;
    margin-bottom: 30px;
}
footer  .wrapper .top .company ul li h5 {
    font-size: 14px;
    font-family: roboto-regular;
    color: #fff;
    margin-bottom: 15px;
}
footer  .wrapper .top .resource {
    margin-right: 50px;
}
footer  .wrapper .top .resource h5.title {
    font-size: 16px;
    font-family: roboto-medium;
    font-weight: 500;
    color: #5865f2;
    margin-bottom: 30px;
}
footer  .wrapper .top .resource ul li h5 {
    font-size: 14px;
    font-family: roboto-regular;
    color: #fff;
    margin-bottom: 15px;
}
footer  .wrapper .top .policies h5.title {
    font-size: 16px;
    font-family: roboto-medium;
    font-weight: 500;
    color: #5865f2;
    margin-bottom: 30px;
}
footer  .wrapper .top .policies ul li h5 {
    font-size: 14px;
    font-family: roboto-regular;
    color: #fff;
    margin-bottom: 15px;
}
footer  .wrapper hr {
   border: 1px solid  rgb(15, 0, 230);
   opacity: .6;
   margin-top: 60px;
}

footer  .wrapper .bottom {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
footer  .wrapper .bottom .flogo  {
    width: 130px;
}
footer  .wrapper .bottom .flogo img {
    display: block;
    width: 100%;
}
footer  .wrapper .bottom .fsign {
    background-color: #5865f2;
    padding: 10px 14px;
    border-radius: 20px;
}
footer  .wrapper .bottom .fsign h4 {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}





/* Media Responsive Querries */




@media all and (max-width: 1680px){
    #top .left {
        width: 500px;
    }
    #top .right {
        width: 550px;
    }
    
    #top .wrapper .spotlight {
        padding-bottom: 290px;
    }
}
@media all and (max-width: 1480px){
    #top header {
        padding: 0 3%;
    }
    #top .left {
        left: -70px;
    }
    #top .right {
        right: -80px;
    }
}
@media all and (max-width: 1380px){
    #top .left {
        left: -120px;
    }
    #top .right {
        right: -110px;
    }
}
@media all and (max-width: 1280px){
    #top header {
        padding: 0 8%;
    }
    #top .left {
        left: -170px;
    }
    #top .right {
        right: -150px;
    }
    #testimonial3 .wrapper .rightbox {
        width: 37%;
    }
}
@media all and (max-width: 1080px){
    #top header{
        position: fixed;
        top: 0;
        z-index: 5;
    }
    #top header ul.items {
        display: none;
    }
    #top header .log-button a.bar {
        display: block;
        margin-left: 15px;
    }
    #top header .log-button a.button {
        padding: 7px 12px;
    }
    #top .left {
        display: none;
    }
    #top .right {
        width: 630px;
        right: 26%;
    }
    #top .wrapper .spotlight {
        padding-bottom: 350px;
    }
    #top .wrapper .spotlight .middle {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    #top .wrapper .spotlight .middle .description {
        text-align: left;
    }
    #top .wrapper .spotlight .middle .option {
        padding: 0;
    }
    #top .wrapper .spotlight .middle .option .windows {
        margin-right: 30px;
    }
    #testimonial1 .wrapper .content { 
        justify-content: center;
    }
    #testimonial1 .wrapper .rightbox {
        width: 100%;
    }
    #testimonial1 .wrapper .rightbox h2 {
        width: 100%;
        font-size: 26px;
    }
    #testimonial1 .wrapper .rightbox p {
        font-size: 18px;
        width: 100%;
    }
    #testimonial2 .wrapper .content { 
        justify-content: center;
        flex-direction: column-reverse;
    }
    #testimonial2 .wrapper .content .leftbox {
        width: 100%;
    }
    #testimonial2 .wrapper .content .leftbox h2 {
        width: 100%;
        font-size: 26px;
    }
    #testimonial2 .wrapper .content .leftbox p {
        font-size: 18px;
        width: 100%;
    }
    #testimonial3 .wrapper .content { 
        justify-content: center;
    }
    #testimonial3 .wrapper .rightbox {
        width: 100%;
    }
    #testimonial3 .wrapper .rightbox h2 {
        width: 100%;
        font-size: 26px;
    }
    #testimonial3 .wrapper .rightbox p {
        font-size: 18px;
        width: 100%;
    }
    footer .wrapper .top .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 75px 20px;
    }
    footer .wrapper .top .right .product {
        margin-right: 0;
        margin-bottom: 50px;
        width: 50%;
    }
}
@media all and (max-width: 980px){
    #top .wrapper .spotlight .middle {
        display: block;
        padding-top: 30px;
    }
    #top .wrapper .spotlight .middle .description {
        text-align: left;
        width: 90%;
        margin: 25px auto;
    }
    #top .wrapper .spotlight .middle .option .windows {
        margin-right: 0;
    }
    
    #top .wrapper .spotlight .middle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    }
    #top .wrapper .spotlight .middle .description {
        margin-left: 0;
    }
    #top .wrapper .spotlight {
        padding-bottom: 350px;
        width: 95%;
        margin: 0 auto;
    }
    #top .wrapper .spotlight .middle .option {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        width: 100%;
    }
    #top .wrapper .spotlight .middle .option .windows {
        margin-bottom: 30px;
    }
    #top .right {
        width: 550px;
        right: 30%;
    }
    #top .wrapper .spotlight {
        padding-bottom: 270px;
    }
}
@media all and (max-width: 768px){
    #top .wrapper .spotlight {
        padding-bottom: 250px;
    }
    #top .right {
        width: 530px;
        right: 20%;
    }
    #testimonial2 .wrapper .content .right {
        width: 580px;
    }
    footer .wrapper .top {
        flex-direction: column;
    }
    footer .wrapper .top .left {
        padding-left: 20px;
    }
    footer .wrapper .top .right {
        width: 80%;
    }
}
@media all and (max-width: 640px){
    #testimonial2 .wrapper .content .right {
        width: 390px;
    }
    #top .wrapper .spotlight .middle .title {
        font-size: 32px;
        margin-bottom: 0;
    }
    #top .wrapper .spotlight {
        padding-bottom: 220px;
    }
    #top .right {
        width: 450px;
        right: 0%;
    }
    #testimonial1 .wrapper .rightbox h2 {
        font-size: 20px;
    }
    #testimonial1 .wrapper .rightbox p {
        font-family: roboto-light;
        font-size: 16px;
    }
    
    #testimonial2 .wrapper .content .leftbox h2 {
        font-size: 20px;
    }
    #testimonial2 .wrapper .content .leftbox p {
        font-family: roboto-light;
        font-size: 16px;
    }
    #testimonial3 .wrapper .rightbox h2 {
        font-size: 20px;
    }
    #testimonial3 .wrapper .rightbox p {
        font-family: roboto-light;
        font-size: 16px;
    }
    footer .wrapper .top .right {
        width: 100%;
    }
    footer .wrapper .top .left {
        width: 60%;
    }
}
@media all and (max-width: 480px){
    #testimonial2 .wrapper .content .right {
        width: 297px;
    }
    #top .wrapper .spotlight .middle .title {
        font-size: 28px;
    }
    #top .wrapper .spotlight .middle .description {
        font-size: 16px;
        width: 100%;
    }
    #top .wrapper .spotlight .middle .option .windows {
        padding: 20px 30px;
    }
    #top .wrapper .spotlight .middle .option .windows .download {
        font-size: 14px;
    }
    #top .wrapper .spotlight .middle .option .OD-button {
        padding: 20px 30px;
    }
    #top .wrapper .spotlight .middle .option .OD-button h4 {
        font-size: 14px;
    }
    #top .wrapper .spotlight {
        padding-bottom: 270px;
    }
    footer .wrapper .top .right {
        padding: 60px 20px;
    }
    footer .wrapper .top .right .product {
        width: 55%;
    }
    footer .wrapper .top .company {
        width: 35%;
        margin-right: 0;
    }
    footer .wrapper .top .resource {
        margin-right: 0;
        width: 60%;
    }
    footer .wrapper .top .policies {
        width: 35%;
    }
    footer .wrapper hr {
        margin-top: 0px;
    }
}
@media all and (max-width: 360px){
    #testimonial2 .wrapper .content .right {
        width: 230px;
    }
}